* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  /*outline: 1px solid limegreen;*/
  /*background: rgb(0 100 0 / 0.05);*/
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

main {
  padding-left: 5px;
  padding-right: 5px;  
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  max-width: 400px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  width: 20%;
  font-weight: normal;
}


.ideal {
  background: lightgreen;
}

.acceptable {
  background: lightyellow;
}

.blocker {
  background: lightsalmon;
}